certifi==2023.7.22
Flask==2.0.1
Flask-Cors==4.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
torch
torchvision
numpy==1.26.2
scipy
pandas==2.1.4
librosa
opencv-python
PyAudio
fastprogress
pymongo
gunicorn==21.2.0
Werkzeug==2.0.1